.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.cart-container {
  position: absolute;
  top: 50px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 100; /* Ensure the cart appears on top */
}

/* Style for the component in the outlet */
/* .component-in-outlet {
  position: relative;
  z-index: 1; /* Lower z-index value to ensure it appears behind the cart */
/* } */